@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@mixin text-outline {
    font-family: Akzidensk, Arial, Helvetica, sans-serif;
    color: black;
    text-shadow:
     -2px -2px 0 white,  
      2px -2px 0 white,
      -2px 2px 0 white,
       2px 2px 0 white;
}

.text-outline {
    @include text-outline;
}

.text-outline-thin {
    font-family: Akzidensk, Arial, Helvetica, sans-serif;
    color: black;
    text-shadow:
     -1px -1px 0 lightgray,  
      1px -1px 0 lightgray,
      -1px 1px 0 lightgray,
       1px 1px 0 lightgray;
}

@font-face {
    font-family: Akzidensk;
    src: url(./fonts/AkzidenzGrotesk-Regular.otf) format("");
}

@font-face {
    font-family: Akzidensk Light;
    src: url(./fonts/AkzidenzGrotesk-Light.otf) format("");
}

@font-face {
    font-family: Akzidensk Bold;
    src: url(./fonts/AkzidenzGrotesk-Bold.otf) format("");
}

@font-face {
    font-family: Akzidensk Extra Bold;
    src: url(./fonts/AkzidenzGrotesk-ExtraBold.otf) format("");
}

// Colors
$color-primary: #9900ff;
$color-secondary: gold;
$color-tertiary: white;
$color-background: #231222;
$color-border: cyan;

$color-scrollbar: #888888;
$color-scrollbar-bg: #222222;
$color-scrollbar-hover: #949494;
$color-scrollbar-active: #757575;

// General
html, body {
    font-family: 'Akzidensk Light', sans-serif;
    font-weight: 200;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
    background: black;
    color: white;
}

a {
    font-size: 1rem;
    text-decoration: none;
    user-select: none;
    color: white;
    opacity: 0.9;
    transform: opacity 0.15s;
    color: $color-secondary;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &:active {
        color: yellow;
    }
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0 1rem;
}

img  {
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    font-family: 'Akzidensk Bold', sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}

// Scrollbar
@mixin scrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: $color-scrollbar-bg;
       }
     
    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar;
        border-radius: 2px;
        opacity: 0.7;

        &:hover {
            background: $color-scrollbar-hover;
            opacity: 0.9;
        }

        &:active {
            background: $color-scrollbar-active;
            opacity: 1;
        }
    }
}

.scrollbar {
    @include scrollbar;
}

// HELPERS
.red {
    background-color: red;
}

.red-border {
    border: 2px solid red;
}

.blue {
    background-color: blue;
}

.blue-border {
    border: 2px solid blue;
}

.full-height-minus-navbar {
    height: calc(100vh);
}

.full-height-plus-navbar {
    height: calc(100vh - 80px);
}

.height-80-minus-navbar {
    height: calc(90vh);
    object-fit: contain;
    width: 100%;
}

.invert {
    filter: invert(1);
}

// Layout
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
    width: 100%;
}

.flex-center {
    justify-content: center;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1rem;
}

.profile-button {
    //background-color: yellow;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &:active {
        opacity: 1;
    }

}

// Navbar, Buttons, and Links
// Region [Gray]
.navbar-container {
    position: fixed;
    top: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    //pointer-events: none;
    z-index: 900;
    padding-left: 50px;

    .nav-link {
        font-family: 'Akzidensk', sans-serif;
        pointer-events: auto;
        color: white;
        font-size: 1.75rem;
        font-weight: bold;
        opacity: 0.8;
        transition: all 0.1s;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 1;
            color: $color-secondary;
        }
    }

    .navbar-blur {
        position: fixed;
        z-index: -1;
        width: 150vw;
        height: 50px;
        top: 0px;
        margin: 0 0 0 -100px;
        background: black;
        opacity: 0.7;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-bottom: 2px white solid;
    }

    li {
        display: inline;
    }

}

.button {
    pointer-events: auto;
    z-index: 100;
    padding: 0.35rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.15s;
}



.outline-primary {
    height: 36px;
    color: $color-primary;
    border: $color-primary 3px solid;

    &:hover {
        background: $color-primary;
        color: black;
    }
}

.outline-secondary {
    height: 36px;
    color: $color-secondary;
    border: $color-secondary 3px solid;

    &:hover {
        background: $color-secondary;
        color: black;
    }
}

.outline-tertiary {
    height: 36px;
    color: $color-tertiary;
    border: $color-tertiary 3px solid;

    &:hover {
        background: $color-tertiary;
        color: black;
    }
}

.enter {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin: 20px 0 70px 0;

    font-weight: bold;
    max-width: 300px;
    height: 70px;
    border: 2px solid white;
    display: flex;
}

.clear-collection {
    position: fixed;
    right: 50px;
    align-self: flex-end;
    justify-self: flex-end;
}

//endregion

// Home
.home-container {
    height: calc(100vh - 80px);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: $color-background;
    background-color: rgb(26, 26, 26);
    //border: 4px solid red;

    .gem {
        position: absolute;
        top: 5vh;
        width: 70vmin;
        z-index: 0;
        opacity: 0.25;
    }

    .logo {
        font-size: 14rem;
        font-weight: bold;
        z-index: 1;
        border-bottom:#7f00d3 12px solid;
        z-index: 1;
    }

    .subtitle {
        font-size: 4rem;
        font-weight: bold;
        z-index: 1;
    }
    
    .description {
        color: lightgray;
        width: 70vw;
        word-wrap: normal;
        line-height: 1.75rem;
        text-align: center;
        z-index: 1;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.5rem;
        z-index: 1;
    }
}

// Explore View
// region [Purple] 
.collections-gallery {
    @include scrollbar;
    width: 100vw;
    height: calc(100vh - 175px);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    background-color: rgb(26, 26, 26);
    //border: solid blue 5px;
    //overflow-y: scroll;
    overflow-x: hidden;
}

.gallery-wrapper {
    @include scrollbar;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    //height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

.asset-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 16px;
    gap: 16px;
    background-color: rgb(13, 13, 13);
    //border: solid magenta 5px;
}

.card {
    display: flex;
    height: 100%;
    max-height: 450px; 
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
    border: #c8c8c8 1px solid;
    z-index: 100;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    &:hover {
        border: gold 1px solid;
        cursor: pointer;
        opacity: 0.9;
        color: white;
    }

    &:active {
        background: white;
        cursor: grabbing;
    }

    .link {
        height: 100%;
        width: 100%;
    }

    .image {
        width:100%;

        img {
            //height: 180px;
            width:100%;
            object-fit: contain;
            border: 1px solid gray;
        }
        
    }

    .details {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
        //margin: 1rem 0rem;

        .name {
            text-align: center;
            margin: 0px;
            padding: 0px;
            font-size: 1rem;
            word-wrap: break-word;
            color: white;
        }
    }
}

// endregion 


// Asset View
// region [Blue] 

.asset-properties {
    margin: 0px 0rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    padding: 0rem 2rem;
    //background-color: blue;
    background-color: rgb(33, 33, 33);
    .description {
        font-size : 1rem;
        line-height: 1.5rem;
        color: lightgray;
        padding: 1rem;
        width: 100%;
        text-align: left;
        word-wrap: break-word;
    }

    .detail-text {
        font-size: 1rem;
        font-weight: bold;
    }

    .currency {
        display: inline;
        font-size: 1rem;
        font-weight: bold;
        color: violet;
    }
    
    .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        width: 300px;
        //background-color: red;
        
        .favorites-button {
            display: flex;
            //height: 50px;
            width: 100%;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            justify-content: center;
            opacity: 0.8;
            transition: all .15s;
        }
        
        .add {
            background: $color-primary;
            color: black;
        
            &:hover {
                opacity: 0.9;
            }
        
            &:active {
                opacity: 01;
            }
        }
        
        .remove {
            background: transparent;
            color: $color-secondary;
            border: $color-secondary 2px solid;

            &:hover {
                opacity: 0.9;
                color: black;
                background: $color-secondary;
            }
        
            &:active {
                opacity: 1;
            }
        }
    }
}


// Endregion 


// LOADING ANIMATION
// from https://loading.io/css/ 
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: $color-primary;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
