@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

// Bar Sizes
$body-height: 99.75vh;
$navbar-height: 80px;
$navbar-height-mobile: 60px;  // Top navbar in mobile
$mobile-navbar-height: 60px;  // Mobile-only navbar
$toolbar-height: 40px;
$toolbar-height-mobile: 60px;

$adjusted-height: calc($body-height - $navbar-height - $toolbar-height);

$adjusted-height-mobile: calc($body-height - $navbar-height-mobile - $toolbar-height-mobile - $mobile-navbar-height);

// Colors
$color-primary: white; 
$color-secondary: gold;
$color-tertiary: rgb(36, 11, 54);

$color-light: lightgray;
$color-mid: gray;
$color-dark: rgb(68, 68, 68);
$color-panel: #232323;

$background-dark: #151515;
$background-light: #ebebeb;

$color-scrollbar: #888888;
$color-scrollbar-bg: #222222;
$color-scrollbar-hover: #949494;
$color-scrollbar-active: #757575;

// Default Theme (Dark)
:root {
    --scrollbar-opacity: 0.5;
    --color-background: #{$background-dark};
    --color-text: #{$color-light};

    // --color-primary: #{$primary-dark};
    // --color-secondary: #{$secondary-dark};
    // --color-link: #{$link-dark};
    // --color-bg-footer: #{$secondary-dark};
    // --color-footer-color: #{$bg-dark};
    // --color-nav-button: #{$color-nav-button-dark};
    // --color-divider: #{$color-divider-dark};
   // --color-blackwhite: white;
}

// // Alternate Theme (Light)
// .alternate {
//     --scrollbar-opacity: 0.5;
//     --color-background: #{$bg-light};
//     --color-primary: #{$primary-light};
//     --color-secondary: #{$secondary-light};
//     --color-link: #{$link-light};
//     --color-bg-footer: #{$secondary-light};
//     --color-footer-color: #{$bg-light};
//     --color-nav-button: #{$color-nav-button-light};
//     --color-divider: #{$color-divider-light};
//     --color-blackwhite: black;
// }

@mixin text-outline {
    font-family: Akzidensk, Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 3px $color-mid; 
}

.text-outline {
    @include text-outline;
}

.text-outline-thin {
    font-family: Akzidensk, Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.75px $color-mid; 
}

.stroke-red {
    -webkit-text-stroke: 3px red; 
}

.stroke-blue {
    -webkit-text-stroke: 3px blue; 
}

@font-face {
    font-family: Akzidensk;
    src: url(./fonts/AkzidenzGrotesk-Regular.otf) format("");
}

@font-face {
    font-family: Akzidensk Light;
    src: url(./fonts/AkzidenzGrotesk-Light.otf) format("");
}

@font-face {
    font-family: Akzidensk Bold;
    src: url(./fonts/AkzidenzGrotesk-Bold.otf) format("");
}

@font-face {
    font-family: Akzidensk Extra Bold;
    src: url(./fonts/AkzidenzGrotesk-ExtraBold.otf) format("");
}


// GENERAL
html, body {
    font-family: 'Akzidensk Light', sans-serif;
    line-height: 1.25rem;
    color: $color-light;
    height: 99.75vh;
    overflow: hidden;
    background: black;
    color: white;
    overflow-x: hidden;
}

a {
    font-size: 1rem;
    text-decoration: none;
    user-select: none;
    color: white;
    opacity: 0.9;
    transform: opacity 0.15s;
    color: $color-secondary;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &:active {
        color: $color-secondary;
    }
}

p, .p {
    font-size: 1rem;
    line-height: 1.15rem;
    color: $color-light;
}

ul {        
    border: 1px solid black;
    padding: 0;
}

li {
    list-style: none;
    padding: 0 1rem;
}

img, video  {
    user-select: none;
    -webkit-user-drag: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Akzidensk Bold', sans-serif;
    font-weight: bold;
}


@mixin scrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        //height: 25px;
        background: $color-scrollbar-bg;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $color-scrollbar;
        border-radius: 25px;
        opacity: 0.7;

        &:hover {
            background: $color-scrollbar-hover;
            opacity: 0.9;
            border: 1px solid lightgray;
        }

        &:active {
            background: $color-scrollbar-active;
            opacity: 1;
            border: 1px solid black;
        }
    }
}


.scrollbar {
    @include scrollbar;
}

// HELPERS
.text-bold {
    font-weight: bold;
}

.panel {
    background: $color-panel;
    border: 1px solid $color-mid;
    border-radius: 10px;
    padding: 10px;
    max-width: 100vw;
    margin: 5px;
}

.panel-header {
    font-weight: 800 !important;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;
    max-width: 100vw;
    border-bottom: 1px solid gray;
}

.opaque {
    opacity: 1;
}

.opacity-90 {
    opacity: 0.90;
}

.scale-150 {
    transform: scale(1.5);
}

.icon {
    color: $color-light;
    z-index: 10;

    &:hover {
        color: $color-tertiary;
    }
}

.rotate-90 {
    transform-origin: center center;
    transform: rotate(90deg);
}

.button {
    font-weight: bold; 
    height: 50px;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.opacity-25 {
    opacity: 0.25 !important;
}

.color-red {
    color: red !important;
}

.color-blue {
    color: blue !important;
}

.color-primary {
    color: $color-primary !important;
}
.bg-primary {
    background-color: $color-primary !important;
}
.border-primary {
    border: 2px solid $color-primary !important;
}
.color-secondary {
    color: $color-secondary !important;
}
.bg-secondary {
    background-color: $color-secondary !important;
}
.border-secondary {
    border: 2px solid $color-secondary !important;
}
.color-tertiary {
    color: $color-tertiary !important;
}
.bg-tertiary {
    background-color: $color-tertiary !important;
}
.border-tertiary {
    border: 2px solid $color-secondary !important;
}

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none !important;
}

.rounded {
    border-radius: 10px;
}

.invert {
    filter: invert(1);
}

// LAYOUT
.full-height-minus-bars {
    position: relative;
    height: $adjusted-height;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-dark;
}

.asset-main-content, .explore-main-content {
    flex-direction: row;
    display: flex;
    flex: 1;
    background-color: $color-dark;

}

.sidebar,
.gallery {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    padding: 10px;
    flex-direction: column;
    background-color: $color-dark;
}

.gallery {
    height: $adjusted-height;
    flex-direction: column;
    background-color: salmon;
    overflow-x: hidden;
}

.explore-sidebar {
    flex: 1 1 33%;
}

.explore-gallery {
    flex: 1 1 66%;
    overflow-y: scroll !important;
}

.asset-sidebar {
    flex: 1 1 50%;
    width: 50vw;
}

.asset-gallery {
    flex: 1 1 50%;
    width: 50vw;
    overflow-y: hidden !important;
}

@mixin bgcolor {
    background: var(--color-background);
}

.background {
    @include bgcolor;
}

.fullscreen-background {
    @include bgcolor;
    display: flex;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-height-background {
    @include bgcolor;
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.center {
    display: flex;
    height: 85vh;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.profile-button {
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    &:active {
        opacity: 1;
    }

}

.blur-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
    opacity: 1;
}

.back-button {
    color: $color-light;
    z-index: 1;
    opacity: 1 !important;
}

// Navbar & Toolbars
// Region [Gray]
.navbar {
    top: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $navbar-height;
    z-index: 1900;
    padding-left: 50px;
    border-bottom: 1px solid rgb(23, 23, 23);
    background-color: $color-dark;

    li {
        display: inline;
    }

    .nav-logo {
        font-family: 'Akzidensk', sans-serif;
        pointer-events: auto;
        color: white;
        font-size: 1.75rem;
        font-weight: bold;
        opacity: 0.8;
        transition: all 0.1s;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 1;
            color: $color-secondary;
        }
    }

    .nav-button {
        pointer-events: auto;
        z-index: 100;
        padding: 0.35rem 2rem;
        height: 35px;
        font-weight: bold;
        font-size: 1rem;
        color: $color-secondary;
        border: 1px solid rgb(100, 100, 100);
        opacity: 0.65;
        transition: all 0.1s;

        &:hover {
            opacity: 1;
            border: 1px solid $color-secondary;
            //background: $background-dark;
        }

        &:active {
            opacity: 1;
            color: $color-secondary;
        }
    }
}

.mobile-navbar {
    display: none;
}

.toolbar {
    display: flex !important;
    background-color: $color-mid;
    height: $toolbar-height;
    align-items: center;
    justify-content: flex-end;
}

.toolbar-input-field  {
    background-color: white;
    height: 30px;
    width: 70px;
    font-size: 1rem;
    padding: 10px;
    margin: 0px 30px;
    border: none;
    display: flex !important;
}

.toolbar-button {

}

// Home
// region [White]
.home-container {
    width: 100vw;
    height: 100vh !important;
    background-color: $background-light;
    text-align: center;

    .gem {
        position: absolute;
        top: 5vh;
        width: 70vmin;
        opacity: 0.04;
        z-index: 0;
    }

    .content {

        .logo {
            width: 100%;
            padding: 2rem;
            font-size: 14vmax !important;
            font-weight: bold;
            z-index: 1;
            line-height: 0rem;
            pointer-events: none;
            user-select: none;
        }
    
        .subtitle {
            padding: 1;
            font-weight: 600;
            margin-left: 3;
            color: $color-mid;
            width: 85%;
        }
        
        .description {
            color: $color-mid;
            width: 66%;
            max-width: 800px;
            word-wrap: normal;
            line-height: 1.35rem;
            text-align: center;
            z-index: 1;
            padding: 1rem;
            margin: 1rem;
            font-size: 1.5rem;
            z-index: 1;
        }
    
        .enter-button {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 20px 0 70px 0;
            font-weight: bold;
            height: 70px;
        }

    }

}

.grid-2 {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    display: grid;
    padding: 8px;
    gap: 8px; 
}

.properties-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    background-color: #353535;
    border: 1px solid cyan;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    padding: 16px; 
    overflow-y: scroll;
    max-height: 90%;
}

.description-container {
    flex: 4;
    padding: 10px;
    max-height: 500px;
}

.controls-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    height: 100%;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-height: 150px !important;
    padding: 8px;
    padding-left: 15px ;
    //border: 1px solid chartreuse;

    .section-header-icon {
        height: 80px;
        width: 80px;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    .section-header-text {
        width: 100%;
        font-size: 4rem; 
        padding-left: 10px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2rem;
    }
}



// region [Purple] 
// Explore View
.collection-name-text {
    font-size: 4rem;
    color: $color-primary;
    font-weight: bold;
    padding-left: 20px;
}

.asset-grid {
    @include scrollbar;
    @include bgcolor;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    top: 0px !important;
    gap: 8px;
    align-content: start;
    width: 100%;
}

.nft-card {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-mid;
    //pointer-events: none;

    &:hover {
        border: 4px solid cyan;
        cursor: pointer;
        opacity: 1;
        transform: scale(1.03);
    }

    &:active {
        border: 4px solid white;
        cursor: grabbing;
        opacity: 1;
        transform: scale(0.97);
    }
  }
  
  .nft-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 4px solid black;
  }
  
  .nft-name {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .nft-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .favorite-card {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    //pointer-events: none;

    &:hover {
        border: 4px solid cyan;
        cursor: pointer;
        opacity: 1;
        transform: scale(1.03);
    }

    &:active {
        border: 4px solid white;
        cursor: grabbing;
        opacity: 1;
        transform: scale(0.97);
    }
  }



//Region [DarkCyan]
// Collection View
.collection-container {
    @include scrollbar;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 16px;
    gap: 16px; 
    overflow-x: hidden;

    .collection-card {
        display: flex;
        width: 100%;
        height: 250px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.1s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &:hover {
            border: 4px solid cyan;
            cursor: pointer;
            opacity: 1;
            transform: scale(1.03);
        }

        &:active {
            border: 4px solid white;
            cursor: grabbing;
            opacity: 1;
            transform: scale(0.95);
        }
    }

}

// Asset View
// region [Blue] 
.asset-titlebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(33, 33, 33);
    
}

.asset-description {
    margin-top: 20px;
}

.asset-trait-list {


}

.asset-trait-text {
    font-size: 1rem; 
    font-weight: 200;
    padding: 0px;
}

.asset-image-container {
    display: flex;
    width: 100%;
    max-width: 50vw;
    margin: 10px;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    img, video {
        max-width: 50vw;
    }
}

.asset-description {
    width: 100%;
}

.asset-preview {
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
    border: 1px solid gray;
   
}

.asset-view-properties {
    width: 100%;
    padding: 0px 15px;
    //max-height: 120px;
    border: 1px solid chartreuse;

    .asset-view-collection-image {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .asset-view-title {
        height: 100px;
        font-size: 2.25rem !important;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        overflow: hidden;
        width: 100%;
        border: 1px solid red;
    }

    .asset-view-collection-name {
        width: 100%;
        //height: 50px;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-mid;
        padding: 10px;
        border: 1px solid blue;
    }

    .link {
        color: $color-secondary;
        font-size: 0.75rem;
        line-height: 0.85rem;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        border: 1px solid blue;
    }


}


  

  


// Endregion 

.cover {
    object-fit: cover;
    width: 100%;
}

.contain {
    object-fit: contain;

}

.favorites-lists-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: black;
    opacity: 0.85;
    border: 1px solid lightgray;
    box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.footer {
    position: absolute;
    flex: 1;
    bottom: 0px;
    width: 100%;
    height: 100px;
    color: $color-dark;
    font-weight: 400;
    background-color: $color-tertiary;
    border-top: 2px solid red;
    z-index: 2;

}



////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////
/// 
/// 
/// 


//@import './App.scss';

// iPhone
// region [Magenta] 
@media screen and (max-width: 430px) {

    html, body {
        border: 1px solid magenta;
    }

    .full-height-minus-bars {
        height: $adjusted-height-mobile;
    }

    .home-container {

        .gem {
            top: 10vh !important;
            width: 90vmin !important;
        }

        .content {
            .logo {
                padding: 0px !important;
                font-size: 12vmax !important;
            }

            .subtitle {
    
            }
    
            .description {
                max-width: 900px;
                font-size: 2rem;
            }
    
            .enter-button {
                width: 66vw;
            }
        }
    }

    // TODO make this collapsible on mobile
    .description-container {
        display: none !important;
        // flex: 4;
        // width: 100%;
        // max-height: 150px;
        // overflow-y: scroll;
    }

    .controls-container {
        //width: 50%;
        padding: 10px 50px;
    }

    .linkify-text, a {
        font-size: 0.85rem !important;
    }

    .button {
        height: 25px !important;
        width: 100px !important;
    }

    .asset-grid {
        @include scrollbar;
        grid-template-columns: repeat(2, 1fr) !important;
        //height: $adjusted-height-mobile;
        height: 100vh !important;
        border: 3px solid red;
        overflow-y: scroll !important;
    }

    .collection-name-text {
        font-size: 1rem;
        line-height: 2rem !important;
        padding-left: 10px !important;
    }

    .asset-image-container {
        width: 100vw !important;
        max-width: 100vw !important;
        height: 100%;
        overflow-y: hidden;
        border-bottom: 2px solid gray;
        border: 4px solid magenta;
    
        img, video {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw !important;
            max-width: 100vw !important;
        }
    }

    .nft-card {
        margin: 10px;
        height: 225px !important;
        transition: all 0.1s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .collection-container {
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 0px !important;
        gap: 0px !important; 

        .collection-card {
            display: flex;
            width: 100%;
            height: 200px;
        }
    }

    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }

    .navbar {
        height: $navbar-height-mobile !important;
        border: 3px solid magenta !important;

        .nav-button {
            display: none;
        }
    }

    .mobile-navbar {
        width: 100%;
        bottom: 0px;
        height: $mobile-navbar-height;
        border: 3px solid magenta !important;
        position: absolute;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        background-color: $color-dark;
        z-index: 50;
    }

    .toolbar {
        display: none;
        height: $toolbar-height-mobile;
    }

    .toolbar-button {
        flex: 1;
        height: 30px;
        width: 135px;
    }

    // .back-button {
    //     width: 20px !important;
    //     height: 30px !important;
    // }

    .panel-header {
        font-weight: 800;
        font-size: 1rem !important;
    }

    .asset-main-content {
        flex-direction: column !important;
        border: 3px solid chartreuse;
    }

    .explore-main-content {
        flex-direction: column !important;
        border: 3px solid chartreuse;
    }

    .asset-titlebar {
        width: 100%;
        
    }

    .asset-description {
        width: 100%;
    }

    .asset-trait-text {
        font-size: 0.75rem !important; 
        line-height: 0.75rem;
    }



    .asset-view-properties {
        width: 100%;
        padding: 0px 15px;
        //max-height: 120px;
        border: 1px solid chartreuse;
    
        .asset-view-collection-image {
            display: none;
            // height: 40px;
            // width: 40px;
        }
    
        .asset-view-title {
            height: 50px !important;
            font-size: 2rem !important;
        }
    
        .asset-view-collection-name {
            width: 100%;
            font-size: 0.5rem !important;
            padding: 0px !important;
        }
    
        .link {
            font-size: 0.75rem !important;
        }
    
    
    }



    .section-header {
        justify-content: space-around !important;

        //border: 1px solid blue !important;
    
        .section-header-icon {
            height: 50px !important;
            width: 50px !important;
        }
    
        .section-header-text {
            font-size: 2rem !important; 
            font-weight: bold;
            text-transform: uppercase;
            padding: 0px;
        }
    }

    .sidebar {
        order: 0;
        width: 100vw;
    }

    .gallery {
        width: 100vw;
        //max-height: 50vh;
        height: 100vh !important;
        overflow-y: scroll !important;

    }

    .explore-sidebar {
        flex: 0 !important;
    }
    
    .explore-gallery {
        flex: 1 !important;
        height: 100vh !important;
        overflow-y: scroll !important;
    }
    
    .asset-sidebar {
        flex: 1 1 33% !important;
        min-height: 250px;
        width: 100% !important;
    }
    
    .asset-gallery {
        flex: 1 1 66% !important;
        max-height: 50vh;
        width: 100% !important;
        overflow-y: hidden;
    }

    .footer {
        height: 100px !important;
    }

    .account-icon {
        width: 25px !important;
        height: 25px !important;
    }
    


} 



//region [Yellow]
// Desktop Monitor - Vertical
// @media screen and (max-width: 1200px)   // was 1081
// and (max-height: 3000px) 
@media screen and (max-width: 1600px) 
and (max-aspect-ratio: 1/1) 
and (min-height: 1000px) {

    html, body {
        border: 1px solid yellow;
    }

    .full-height-minus-bars {
        overflow-y: scroll !important;
    }

    a {
        font-size: 1.25rem;
    }

    .home-container {

        .gem {
            top: 10vh !important;
            width: 90vmin !important;
        }

        .content {
            //padding-top: 30vh;
            height: 50vh;

            .logo {
                padding: 0px !important;
                font-size: 12vmax !important;
            }

            .subtitle {
    
            }
    
            .description {
                max-width: 900px;
                font-size: 2rem;
            }
    
            .enter-button {
                width: 66vw;
            }
        }
    }

    .gem-background-float {
        display: block;
        width: 35vw;
    }

    .asset-main-content {
        flex-direction: column !important;
        overflow-y: auto;
        height: 100vh;
    }

    .explore-main-content {
        flex-direction: row !important;
    }

    .sidebar {
        //max-height: 250px;
        padding: 0px !important;
        margin: 0px !important;
    }

    .description-container {
        @include scrollbar;
        flex: 4;
        width: 80%;
        height: 100%;
        max-height: 50vh !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .controls-container {
        width: 50%;
        padding: 10px 50px;
    }

    .collection-container {
        grid-template-columns: repeat(2, 1fr);

        .collection-card {
            display: flex;
            width: 100%;
            height: 200px;
        }
    }

    .asset-grid {
        grid-template-columns: repeat(2, 1fr);
        height: $adjusted-height-mobile;
        border: 3px solid cyan;
    }


    .asset-titlebar {
        width: 100%;
    }

    .asset-description {
        width: 100%;
    }

    .asset-image-container {
        width: 100vw !important;
        max-width: 100vw !important;
        max-height: 75vh;
        border-bottom: 2px solid gray;
        overflow-y: hidden;
    
        img, video {
            max-width: 100vw !important;
        }
    }

    .explore-sidebar {
        flex: 0 !important;
    }
    
    .explore-gallery {
        flex: 1 !important;
    }
    
    .asset-sidebar {
        flex: 1 1 33% !important;
        min-height: 250px;
        width: 100vw !important;
        padding: 15px !important;
    }
    
    .asset-gallery {
        flex: 1 1 66% !important;
        max-height: 50vh;
        width: 100vw !important;
        overflow-y: hidden !important;
    }

    .footer {
        height: 100px !important;
    }



 }

//endregion
//endregion

 // Tablet
// @media only screen and (min-width: 768px) and (max-height: 1366px) {  

// .desktop-only {
//     display: none;
// }

// .mobile-only {
//     display: flex;
// }

// }

// // 1440 x 763 - 13" Macbook Pro
// // Laptops with Retina Screen
// @media only screen 
//   and (min-device-width: 1200px) 
//   and (max-device-width: 1600px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) { 
    
// }


// // Desktop Monitor - Half Screen
// @media only screen and (max-width: 1188px) and (min-width: 769px)  { 

// }


// // 2560 x 943
// // Desktop Monitor - Widescreen
// @media only screen and (min-width: 1921px) { 


// }

 // endregion 